aiohttp==3.7.2
asgiref==3.3.1
astroid==2.4.2
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.4
Django==3.1.7
django-mdeditor==0.1.18
django-redis==4.12.1
flake8==3.8.4
idna==2.9
importlib-metadata==3.1.0
integer==1.0.3
isort==5.6.4
jsonpath==0.82
lazy-object-proxy==1.4.3
lxml==4.6.1
Markdown==3.3.4
mccabe==0.6.1
multidict==5.0.2
mysql-connector-python==8.0.18
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.6.0
PyMySQL==1.0.2
pytz==2021.1
redis==3.5.3
requests==2.23.0
rope==0.18.0
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
tornado==6.1
torndb==0.3
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.9
wrapt==1.12.1
yapf==0.30.0
yarl==1.6.3
you-get==0.4.1403
zipp==3.4.0
