{% extends "_base.html" %}

{% block content %}

            <main class="main" role="main">
            <article class="article article-tags post-type-list" itemscope>
                <header class="article-header">
                    <h1 itemprop="name" class="hidden-xs">标签</h1>
                    <p class="text-muted hidden-xs">共 {{ count }} 个标签</p>
                    <nav role="navigation" id="nav-main" class="okayNav">
                        <ul>
                            <li>
                                <a href="/tags">All</a>
                            </li>
                            {% for tag in tags %}
                            <li>
                                <a href="{{ tag.url }}">{{ tag.name }}</a>
                            </li>
                            {% endfor %}

                        </ul>
                    </nav>
                </header>
                <div class="article-body">
                    {% for tag in tags %}
                    <h3 class="panel-title mb-1x">
                        <a href="{{ tag.url }}" title="#{{ tag.name }}"># {{ tag.name }}</a>
                        <small class="text-muted">(Total {{ tag.count }} articles)</small>
                    </h3>
                    <div class="row">
                        {% for article in tag.articles %}
                        <div class="col-md-6">
                            <article class="panel panel-default hover-shadow hover-grow" itemscope itemtype="http://schema.org/BlogPosting">
                                <div class="panel-body">
                                    <div class="article-meta">
                                        <time datetime="{{ article.create_time }}" itemprop="datePublished">{{ article.create_time|date:'Y-d-m' }}</time>
                                    </div>
                                    <h3 class="article-title" itemprop="name">
                                        <a class="article-link" href="{{ article.url }}">{{ article.title }}</a>
                                    </h3>
                                </div>
                                <div class="panel-footer">
                                    <a href="{{ tag.url }}" class="label label-default mb">{{ tag.name }}</a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </article>
        </main>

{% endblock %}